*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

body {
  display: grid;
  place-items: center;
  min-height: 100svh;
  font-family: "Roboto", sans-serif;
  background-color: #d6e1f0;
  text-align: center;
}

.card {
  padding: 0.7rem;
  aspect-ratio: 2 / 3;
  display: grid;
  max-width: 15rem;
  justify-items: center;
  border-radius: 1rem;
  background-color: #fff;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.card img {
  display: block;
  max-width: 100%;
  border-radius: 0.5rem;
}

.card .txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-star;
  align-items: center;
  gap: 1rem;
}

.card h1 {
  text-wrap: balance;
  font-size: 1rem;
}

.card .small {
  font-size: 0.8rem;
  font-weight: 300;
  color: #808080;
}
